<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>

<body>
<div class="container">
    <form th:action="@{/process}" th:object="${accountholder}" method="post">
        <h2>Account Form: </h2>
        <input type="hidden" th:field="*{id}"/>
        <!--<input type="hidden" th:field="*{id}" />-->
        <div class="row inputst">
            <label class="col-md-3 labelst"> Account Number :</label>
            <input type="text" class="col-md-6" th:field="*{acctNumber}" placeholder="Account Number"/>
            <span class="col-md-3" th:if="${#fields.hasErrors('acctNumber')}"
                  th:errors="*{acctNumber}"></span><br/>
        </div>
        <div class="row inputst">
            <label class="col-md-3 labelst"> Action :</label>
            <div id="mode-group0" class="btn-group col-md-6" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input th:type="radio" th:field="*{action}" name="action" id="option1" th:value="Deposit" value="*{action}" /> Deposit
                </label>
                <label class="btn btn-primary">
                    <input th:type="radio" th:field="*{action}" name="action" id="option2" th:value="Withdraw" value="*{action}"/> Withdraw
                </label>
            </div>
        </div>
        <div class="row inputst">
            <label class="col-md-2 labelst"> Amount:</label>
            <input type="text" class="col-md-6" th:field="*{amount}" placeholder="Amount"/>
            <span class="col-md-3" th:if="${#fields.hasErrors('amount')}"
                  th:errors="*{amount}"></span><br/>
        </div>
        <div class="row inputst">
            <label class="col-md-2 labelst"> Reason :</label>
            <textarea rows="3" cols="60"  th:field="*{reason}" placeholder="Reason" ></textarea>
            <span class="col-md-3" th:if="${#fields.hasErrors('reason')}"
                  th:errors="*{reason}"></span><br/>
        </div>
        <br/>
        <div class="col-md-12">
            <input class="submitst" type="submit" value="Submit"/>
        </div>
    </form>
</div>
<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>